.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.reserved {
  background-color: lightcoral;
}

.closed {
  background-color: gray;
}

.free {
  background-color: skyblue;
}

.break {
  background-color: yellow;
}

.activeUser {
  background-color: lightgreen;
}